@import "../style/default.scss";

$message-prefix-cls: #{$global-prefix}-message;

.#{$message-prefix-cls} {
  font-size: 13px;
  font-family: $font-family !important;
  position: fixed;
  z-index: $zindex-message;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  &-notice-content {
    padding: 8px 16px;
    border-radius: $border-radius-round;
    box-shadow: $shadow-2;
    background: $component-background;
    display: inline-block;
    pointer-events: all;
  }

  &-content {
    &-success  {
      color: white;
      background: $success-color;
    }

    &-error  {
      color: white;
      background: $error-color;
    }

    &-warning {
      color: white;
      background: $warning-color;
    }
  }

  /* 如想单独修改图标颜色请参考此class规范
  &-success .#{$iconfont-css-prefix} {
    color: $success-color;
  }
  */

  /*
  &-success  {
    color: $success-color;
  }

  &-error  {
    color: $error-color;
  }

  &-warning {
    color: $warning-color;
  }
  */

  &-info .#{$iconfont-css-prefix},
  &-loading .#{$iconfont-css-prefix} {
    color: $info-color;
  }

  .#{$iconfont-css-prefix} {
    margin-right: 8px;
    font-size: $font-size-lg;
    top: 1px;
    position: relative;
  }

  &-notice.move-up-leave.move-up-leave-active {
    animation-name: MessageMoveOut;
    overflow: hidden;
    animation-duration: 3s;
  }
}

@keyframes MessageMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
    padding: 8px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}
